.incidencia-chat {
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mensaje {
  display: flex;
}

.mensaje-cliente {
  justify-content: flex-end;
}

.mensaje-admin {
  justify-content: flex-start;
}

.burbuja {
  max-width: 70%;
  padding: 10px 14px;
  border-radius: 12px;
  position: relative;
  font-size: 14px;
}

.mensaje-cliente .burbuja {
  background-color: #d1e7dd;
  color: #0f5132;
}

.mensaje-admin .burbuja {
  background-color: #f8f9fa;
  color: #212529;
  border: 1px solid #ddd;
}

.meta {
  font-size: 11px;
  margin-top: 5px;
  opacity: 0.7;
  display: flex;
  justify-content: space-between;
}

.separator td {
  border-top: 2px solid #ddd;
  padding: 0;
  height: 10px;
  background: #f9f9f9; /* opcional */
}

.pendiente-respuesta-a-cliente, .abierta{
  background: red !important;
  color: whitesmoke !important;
}

.pendiente-indemnizaci-n{
  background: darkblue !important;
  color: whitesmoke !important;
}

.pendiente-datos-del-cliente, .cerrada{
  background: green !important;
  color: whitesmoke !important;
}

.env-o-demorado{
  background: orangered !important;
  color: whitesmoke !important;
}

.nuevo-mensaje {
  color: #fff;
  animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 
      0 0 5px #ff8c00,
      0 0 10px #ff8c00,
      0 0 20px #ff8c00;
  }
  to {
    text-shadow: 
      0 0 10px #ff8c00,
      0 0 20px #ff8c00,
      0 0 40px #ff8c00,
      0 0 80px #ff8c00;
  }
}
